# Gopkg.toml 
#
# Add constraints for packages that are a direct dependency
# of this project (i.e. they are imported by golang source code)
# and you want to ensure that only a specific version is needed.
# if you don't need a specific version don't add the constraint here.
# Constraints are of the form:
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   revision = "8991bc29aa16c548c550c7ff78260e27b9ab7c73"
#
# revision constraints are preferred to version constraints.
#
# add overrides for packages that are not used directly but
# you want to ensure that are at a specific version. for example,
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

ignored = [
    "github.com/crossplaneio/crossplane/.cache",
    "github.com/crossplaneio/crossplane/.work",
    "github.com/crossplaneio/crossplane/_output",
    "github.com/crossplaneio/crossplane/build",
    ]

required = [
    "k8s.io/code-generator/cmd/deepcopy-gen", # for go generate
    "sigs.k8s.io/controller-tools/cmd/controller-gen", # for crd/rbac generation
    ]

[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  name="sigs.k8s.io/controller-runtime"
  version="v0.1.10"

[[override]]
  name="sigs.k8s.io/controller-tools"
  source = "https://github.com/ichekrygin/controller-tools.git"
  revision = "af34042b08d62ea4bf345eabcf2b5a7d9252a4a1"

# For dependency below: Refer to issue https://github.com/golang/dep/issues/1799
[[override]]
  name = "gopkg.in/fsnotify.v1"
  source = "https://github.com/fsnotify/fsnotify.git"
  version="v1.4.7"
