
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: stackrequests.stacks.crossplane.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.conditions[?(@.type==Ready)].status
    name: READY
    type: string
  - JSONPath: .spec.source
    name: SOURCE
    type: string
  - JSONPath: .spec.package
    name: PACKAGE
    type: string
  - JSONPath: .spec.crd
    name: CRD
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: AGE
    type: date
  group: stacks.crossplane.io
  names:
    kind: StackRequest
    listKind: StackRequestList
    plural: stackrequests
    singular: stackrequest
  scope: ""
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            crd:
              type: string
            package:
              type: string
            source:
              type: string
          type: object
        status:
          properties:
            conditionedStatus:
              properties:
                conditions:
                  items:
                    properties:
                      lastTransitionTime:
                        format: date-time
                        type: string
                      message:
                        type: string
                      reason:
                        type: string
                      status:
                        type: string
                      type:
                        type: string
                    required:
                    - lastTransitionTime
                    - reason
                    - status
                    - type
                    type: object
                  type: array
              type: object
            installJob:
              properties:
                apiVersion:
                  type: string
                fieldPath:
                  type: string
                kind:
                  type: string
                name:
                  type: string
                namespace:
                  type: string
                resourceVersion:
                  type: string
                uid:
                  type: string
              type: object
            stackRecord:
              properties:
                apiVersion:
                  type: string
                fieldPath:
                  type: string
                kind:
                  type: string
                name:
                  type: string
                namespace:
                  type: string
                resourceVersion:
                  type: string
                uid:
                  type: string
              type: object
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
