
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: kubernetesapplicationresources.workload.crossplane.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.template.kind
    name: TEMPLATE-KIND
    type: string
  - JSONPath: .spec.template.metadata.name
    name: TEMPLATE-NAME
    type: string
  - JSONPath: .spec.targetRef.name
    name: CLUSTER
    type: string
  - JSONPath: .status.state
    name: STATUS
    type: string
  group: workload.crossplane.io
  names:
    kind: KubernetesApplicationResource
    listKind: KubernetesApplicationResourceList
    plural: kubernetesapplicationresources
    singular: kubernetesapplicationresource
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: A KubernetesApplicationResource is a resource of a Kubernetes application.
        Each resource templates a single Kubernetes resource to be deployed to its
        scheduled KubernetesCluster.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: KubernetesApplicationResourceSpec specifies the desired state
            of a KubernetesApplicationResource.
          properties:
            secrets:
              description: Secrets upon which this application resource depends. These
                secrets will be propagated to the Kubernetes cluster to which this
                application is scheduled.
              items:
                description: LocalObjectReference contains enough information to let
                  you locate the referenced object inside the same namespace.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              type: array
            targetRef:
              description: Target to which this application has been scheduled.
              properties:
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                  type: string
              required:
              - name
              type: object
            template:
              description: A Template for a Kubernetes resource to be submitted to
                the KubernetesCluster to which this application resource is scheduled.
                The resource must be understood by the KubernetesCluster. Crossplane
                requires only that the resource contains standard Kubernetes type
                and object metadata.
              type: object
          required:
          - template
          type: object
        status:
          description: KubernetesApplicationResourceStatus represents the observed
            state of a KubernetesApplicationResource.
          properties:
            conditionedStatus:
              description: A ConditionedStatus reflects the observed status of a resource.
                Only one condition of each type may exist.
              properties:
                conditions:
                  description: Conditions of the resource.
                  items:
                    description: A Condition that may apply to a resource.
                    properties:
                      lastTransitionTime:
                        description: LastTransitionTime is the last time this condition
                          transitioned from one status to another.
                        format: date-time
                        type: string
                      message:
                        description: A Message containing details about this condition's
                          last transition from one status to another, if any.
                        type: string
                      reason:
                        description: A Reason for this condition's last transition
                          from one status to another.
                        type: string
                      status:
                        description: Status of this condition; is it currently True,
                          False, or Unknown?
                        type: string
                      type:
                        description: Type of this condition. At most one of each condition
                          type may apply to a resource at any point in time.
                        type: string
                    required:
                    - lastTransitionTime
                    - reason
                    - status
                    - type
                    type: object
                  type: array
              type: object
            remote:
              description: Remote status of the resource templated by this application
                resource.
              properties:
                raw:
                  description: Raw JSON representation of the remote status as a byte
                    array.
                  format: byte
                  type: string
              type: object
            state:
              description: State of the application.
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
