replicas: 1

deploymentStrategy: RollingUpdate

image:
  repository: crossplane/crossplane
  tag: %%VERSION%%
  pullPolicy: Always

args:
- '--debug'

imagePullSecrets:
- dockerhub

clusterStacks:
  aws:
    version: v0.1.0
    deploy: false
  gcp:
    version: v0.1.0
    deploy: false
  azure:
    version: v0.1.0
    deploy: false