replicas: 1

deploymentStrategy: RollingUpdate

image:
  repository: crossplane/crossplane
  tag: %%VERSION%%
  pullPolicy: Always

args:
- '--debug'

imagePullSecrets:
- dockerhub

personas:
  deploy: true

clusterStacks:
  aws:
    version: v0.6.0
    deploy: false
  gcp:
    version: v0.6.0
    deploy: false
  azure:
    version: v0.6.0
    deploy: false
  rook:
    version: v0.4.0
    deploy: false

hostedConfig:
  enabled: false

templateStacks:
  enabled: true
  controllerImage: crossplane/templating-controller:0.2.0
