---
# The reason this is created empty and filled by the init container is we want
# to manage the lifecycle of the secret via Helm. This way whenever Crossplane
# is deleted, the secret is deleted as well.
apiVersion: v1
kind: Secret
metadata:
  name: crossplane-root-ca
  namespace: {{ .Release.Namespace }}
  {{- with .Values.secrets.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
---
# The reason this is created empty and filled by the init container is we want
# to manage the lifecycle of the secret via Helm. This way whenever Crossplane
# is deleted, the secret is deleted as well.
apiVersion: v1
kind: Secret
metadata:
  name: crossplane-tls-server
  namespace: {{ .Release.Namespace }}
  {{- with .Values.secrets.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
---
# The reason this is created empty and filled by the init container is we want
# to manage the lifecycle of the secret via Helm. This way whenever Crossplane
# is deleted, the secret is deleted as well.
apiVersion: v1
kind: Secret
metadata:
  name: crossplane-tls-client
  namespace: {{ .Release.Namespace }}
  {{- with .Values.secrets.customAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
