apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: rdsinstances.database.aws.conductor.io
spec:
  group: database.aws.conductor.io
  names:
    kind: RDSInstance
    plural: rdsinstances
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            class:
              type: string
            connectionSecretRef:
              type: object
            engine:
              type: string
            masterUsername:
              type: string
            providerRef:
              type: object
            reclaimPolicy:
              type: string
            securityGroups:
              items:
                type: string
              type: array
            size:
              format: int64
              type: integer
          required:
          - masterUsername
          - engine
          - class
          - size
          - providerRef
          - connectionSecretRef
          type: object
        status:
          properties:
            instanceName:
              type: string
            message:
              type: string
            providerID:
              type: string
            state:
              type: string
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
