apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: cloudsqlinstances.database.gcp.crossplane.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.state
    name: STATUS
    type: string
  - JSONPath: .spec.classRef.name
    name: CLASS
    type: string
  - JSONPath: .spec.databaseVersion
    name: VERSION
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: AGE
    type: date
  group: database.gcp.crossplane.io
  names:
    kind: CloudsqlInstance
    plural: cloudsqlinstances
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            claimRef:
              type: object
            classRef:
              type: object
            connectionSecretRef:
              type: object
            databaseVersion:
              type: string
            providerRef:
              type: object
            reclaimPolicy:
              type: string
            region:
              type: string
            storageGB:
              format: int64
              type: integer
            storageType:
              type: string
            tier:
              type: string
          required:
          - region
          - storageType
          - storageGB
          - databaseVersion
          - tier
          - providerRef
          type: object
        status:
          properties:
            endpoint:
              type: string
            instanceName:
              type: string
            message:
              type: string
            providerID:
              type: string
            state:
              type: string
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
