
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: cloudmemorystoreinstanceclasses.cache.gcp.crossplane.io
spec:
  additionalPrinterColumns:
  - JSONPath: .specTemplate.providerRef.name
    name: PROVIDER-REF
    type: string
  - JSONPath: .specTemplate.reclaimPolicy
    name: RECLAIM-POLICY
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: AGE
    type: date
  group: cache.gcp.crossplane.io
  names:
    kind: CloudMemorystoreInstanceClass
    plural: cloudmemorystoreinstanceclasses
  scope: ""
  subresources: {}
  validation:
    openAPIV3Schema:
      description: CloudMemorystoreInstanceClass is the Schema for the resource class
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        specTemplate:
          description: CloudMemorystoreInstanceClassSpecTemplate is the Schema for
            the resource class
          properties:
            alternativeLocationId:
              description: AlternativeLocationID is only applicable to STANDARD_HA
                tier, which protects the instance against zonal failures by provisioning
                it across two zones. If provided, it must be a different zone from
                the one provided in locationId.
              type: string
            authorizedNetwork:
              description: AuthorizedNetwork specifies the full name of the Google
                Compute Engine network to which the instance is connected. If left
                unspecified, the default network will be used.
              type: string
            locationId:
              description: LocationID specifies the zone where the instance will be
                provisioned. If not provided, the service will choose a zone for the
                instance. For STANDARD_HA tier, instances will be created across two
                zones for protection against zonal failures.
              type: string
            memorySizeGb:
              description: MemorySizeGB specifies the Redis memory size in GiB.
              type: integer
            providerRef:
              description: ObjectReference contains enough information to let you
                inspect or modify the referred object.
              properties:
                apiVersion:
                  description: API version of the referent.
                  type: string
                fieldPath:
                  description: 'If referring to a piece of an object instead of an
                    entire object, this string should contain a valid JSON/Go field
                    access statement, such as desiredState.manifest.containers[2].
                    For example, if the object reference is to a container within
                    a pod, this would take on a value like: "spec.containers{name}"
                    (where "name" refers to the name of the container that triggered
                    the event) or if no container name is specified "spec.containers[2]"
                    (container with index 2 in this pod). This syntax is chosen only
                    to have some well-defined way of referencing a part of an object.
                    TODO: this design is not final and this field is subject to change
                    in the future.'
                  type: string
                kind:
                  description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
                  type: string
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                  type: string
                namespace:
                  description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                  type: string
                resourceVersion:
                  description: 'Specific resourceVersion to which this reference is
                    made, if any. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency'
                  type: string
                uid:
                  description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                  type: string
              type: object
            reclaimPolicy:
              description: A ReclaimPolicy determines what should happen to managed
                resources when their bound resource claims are deleted.
              type: string
            redisConfigs:
              additionalProperties:
                type: string
              description: 'RedisConfigs specifies Redis configuration parameters,
                according to http://redis.io/topics/config. Currently, the only supported
                parameters are: * maxmemory-policy * notify-keyspace-events'
              type: object
            redisVersion:
              description: RedisVersion specifies the version of Redis software. If
                not provided, latest supported version will be used. Updating the
                version will perform an upgrade/downgrade to the new version. Currently,
                the supported values are REDIS_3_2 for Redis 3.2.
              enum:
              - REDIS_3_2
              type: string
            region:
              description: Region in which to create this CloudMemorystore cluster.
              type: string
            reservedIpRange:
              description: ReservedIPRange specifies the CIDR range of internal addresses
                that are reserved for this instance. If not provided, the service
                will choose an unused /29 block, for example, 10.0.0.0/29 or 192.168.0.0/29.
                Ranges must be unique and non-overlapping with existing subnets in
                an authorized network.
              type: string
            tier:
              description: Tier specifies the replication level of the Redis cluster.
                BASIC provides a single Redis instance with no high availability.
                STANDARD_HA provides a cluster of two Redis instances in distinct
                availability zones. https://cloud.google.com/memorystore/docs/redis/redis-tiers
              enum:
              - BASIC
              - STANDARD_HA
              type: string
          required:
          - memorySizeGb
          - providerRef
          - region
          - tier
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
