name: Comment Commands

on: issue_comment

permissions:
  contents: read

jobs:
  # NOTE(negz): See also backport.yml, which is the variant that triggers on PR
  # merge rather than on comment.
  backport:
    permissions:
      contents: write  # for zeebe-io/backport-action to create branch
      issues: write  # for comment reactions and label updates
      pull-requests: write  # for zeebe-io/backport-action to create PR to backport
    runs-on: ubuntu-24.04
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '/backport')
    steps:
    - name: Extract Command
      id: command
      uses: xt0rted/slash-command-action@bf51f8f5f4ea3d58abc7eca58f77104182b23e88 # v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        command: backport
        reaction: "true"
        reaction-type: "eyes"
        allow-edits: "false"
        permission-level: write

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 0

    - name: Open Backport PR
      uses: zeebe-io/backport-action@c656f5d5851037b2b38fb5db2691a03fa229e3b2 # v4.0.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        github_workspace: ${{ github.workspace }}
        version: v0.0.4

  fresh:
    permissions:
      issues: write  # for removing stale label
    runs-on: ubuntu-24.04
    if: startsWith(github.event.comment.body, '/fresh')

    steps:
    - name: Extract Command
      id: command
      uses: xt0rted/slash-command-action@bf51f8f5f4ea3d58abc7eca58f77104182b23e88 # v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        command: fresh
        reaction: "true"
        reaction-type: "eyes"
        allow-edits: "false"
        permission-level: read
    - name: Handle Command
      uses: actions-ecosystem/action-remove-labels@2ce5d41b4b6aa8503e285553f75ed56e0a40bae0 # v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        labels: stale
